name: logistics-project

services:
  # --- INFRASTRUCTURE ---
  postgres:
    image: postgres:15-alpine
    container_name: logistics-postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports: ["5433:5432"]
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: logistics-redis
    ports: ["6379:6379"]

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: logistics-rabbitmq
    ports: ["5672:5672", "15672:15672"]
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: logistics-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: logistics-kafka
    depends_on: [zookeeper]
    ports: ["9092:9092"]
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - kafka_data:/var/lib/kafka/data

  keycloak:
    image: quay.io/keycloak/keycloak:22.0.1
    container_name: logistics-keycloak
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      # Fix for Docker networking validation
      KC_HOSTNAME_URL: http://localhost:8180
    ports: ["8180:8080"]
    volumes:
      - keycloak_data:/opt/keycloak/data

  # --- MICROSERVICES ---

  discovery-service:
    build: ./discovery-service
    container_name: logistics-discovery
    ports: ["8761:8761"]

  gateway-service:
    build: ./gateway-service
    container_name: logistics-gateway
    ports: ["8080:8080"]
    depends_on: [discovery-service, keycloak]
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://logistics-discovery:8761/eureka/
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://localhost:8180/realms/logistics-realm
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://logistics-keycloak:8080/realms/logistics-realm/protocol/openid-connect/certs

  fleet-service:
    build: ./fleet-service
    container_name: logistics-fleet
    depends_on: [discovery-service, postgres, rabbitmq]
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://logistics-discovery:8761/eureka/
      - SPRING_DATASOURCE_URL=jdbc:postgresql://logistics-postgres:5432/admin
      - SPRING_RABBITMQ_HOST=logistics-rabbitmq

  shipping-service:
    build: ./shipping-service
    container_name: logistics-shipping
    depends_on: [discovery-service, postgres, rabbitmq]
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://logistics-discovery:8761/eureka/
      - SPRING_DATASOURCE_URL=jdbc:postgresql://logistics-postgres:5432/admin
      - SPRING_RABBITMQ_HOST=logistics-rabbitmq
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:29092

  analytics-service:
    build: ./analytics-service
    container_name: logistics-analytics
    depends_on: [discovery-service, kafka]
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://logistics-discovery:8761/eureka/
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:29092 #- SPRING_KAFKA_BOOTSTRAP_SERVERS=logistics-kafka:29092

  function-service:
    build: ./function-service
    container_name: logistics-function
    ports: [ "8084:8084" ]
    depends_on: [ discovery-service, rabbitmq ]
    environment:
      # These match the ${PLACEHOLDERS} in your new application.yml
      - RABBITMQ_HOST=logistics-rabbitmq
      - EUREKA_HOST=logistics-discovery
      # Standard overrides just in case
      - SPRING_RABBITMQ_HOST=logistics-rabbitmq
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://logistics-discovery:8761/eureka/
    volumes:
      # This puts the PDFs in a folder named 'waybills'
      - ./waybills:/generated-waybills

  # --- MICRO FRONTENDS ---

  # The Host (Shell)
  logistics-ui-shell:
    build: ./logistics-ui-shell
    container_name: logistics-shell
    ports: ["4200:80"] # Mapped to localhost:4200
    depends_on: [gateway-service]

  # The Remote (Shop)
  logistics-ui-shop:
    build: ./logistics-ui-shop
    container_name: logistics-shop
    ports: ["4201:80"] # Mapped to localhost:4201
    depends_on: [gateway-service]

volumes:
  postgres_data:
  kafka_data:
  keycloak_data:
